# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/windows/unityLibrary

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Ignore Unity project files in the DemoApp folder
unity/DemoApp/[Ll]ibrary/
unity/DemoApp/[Tt]emp/
unity/DemoApp/[Oo]bj/
unity/DemoApp/[Bb]uild/
unity/DemoApp/[Bb]uilds/
unity/DemoApp/[Ll]ogs/
unity/DemoApp/[Mm]emoryCaptures/

# Ignore Asset meta files within DemoApp
unity/DemoApp/[Aa]ssets/**/*.meta

# User-specific settings
unity/DemoApp/UserSettings/
unity/DemoApp/*.sln
unity/DemoApp/*.csproj
unity/DemoApp/.idea/